!!! 5
%html
	%head
		%title
			Dear Government | Enable Government Action
	  
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags

	%body

		%section.errors
			- flash.each do |key, value|
				%div{id: key}
					= value

		%section.container
			%div.page
				= yield

