<!DOCTYPE html>
<html>
<head>
  <title>Deargovernment</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<section class="errors">
	  <% flash.each do |key, value| %>
	    <div class="<%= key %>"><%= value %></div>
	  <% end %>
	</section>

	<section class="container"> 
	  <div class="page">
	   <%= yield %>
	  </div>
	</section>

</body>
</html>
